@using RecipeBlog.ViewModels
@model ForgotPasswordViewModel

<p class="text-muted" style="font-size:15px">
    Для восстановления пароля введите используемый при регистрации адрес электронной почты.
    На этот адрес придет ссылка для сброса и назначения нового пароля
</p>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div style="margin-left:30px">
            <input type="submit" class="btn btn-primary" value="Отправить ссылку по электронной почте" />
        </div>
    </div>
}


@Scripts.Render("~/bundles/jqueryval")


